<div class="table-container col-xs-12">
  <h3><%= "#{@workout.title}" " - #{@workout.created_at.strftime("%b %e, %Y %l:%M %p")}"%></h3>
  <div class ="btn-toolbar">
    <%= link_to "copy this workout", workout_copy_path(@workout), :class => 'btn btn-primary' %>
    <%= link_to "delete this workout", workout_path(@workout), :method => :delete, :data => { :confirm => 'Are you sure you want to delete this?' }, :class => 'btn btn-danger' %>
    <%= link_to "edit this workout", edit_workout_path(@workout), :class => 'btn btn-success' %>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <tr>
        <th class="col-md-3 col-xs-3">Name</th>
        <th class="col-md-1 col-xs-1 text-center">Reps</th>
        <th class="col-md-5 col-xs-5">Notes</th>
        <th class="col-md-1 col-xs-1 text-center">Destroy</th>
        <th class="col-md-1 col-xs-1 text-center">Edit</th>
      </tr>

      <% @workout.exercises.each do |exercise| %>
        <tr>
          <td><%= exercise.name %></td>
          <td class="text-center"><%= exercise.reps %><br></td>
          <td><%= exercise.note%><br></td>
          <td class="col-xs-1 text-center"><%= link_to [@workout, exercise], method: :delete,
            data: { confirm: "You sure?" } do%>
            <span class="glyphicon glyphicon-remove"></span>
            <td class="col-xs-1 text-center"><%= link_to edit_workout_exercise_path(exercise) do %>
              <span class="glyphicon glyphicon-edit"></span>
          </td>
          <% end %>
        <% end %>
      <% end %>

        <%= simple_form_for(@exercise, :url => workout_exercises_path(@workout), html: {class: 'form-horizontal'}) do |f| %>
          <div class="table-responsive">
            <tr>
              <td>
                <%= f.input :name,  placeholder: "Name", label:  false, :autofocus => true %>
              </td>
              <td>
                <%= f.input :reps, placeholder: "Reps", label: false %>
              </td>
              <td>
                <%= f.input :note, placeholder: "Notes", label: false %>
                <td>
                  <div class="actions form-group center-block">
                    <div class="col-sm-offset-2 col-sm-10 center-block">
                      <%= f.submit "Create Exercise", class: 'btn btn-primary' %>
                    </div>
                  </div>
                </td>
              </td>
            </tr>
        </tr>
      <% end %>
    </table>
          </div>
  </div>
