<div class="table-container col-xs-12">
  <h3><%= "#{@workout.title}" " - #{@workout.created_at.strftime("%b %e, %Y %l:%M %p")}"%></h3>
  <%= link_to "copy this workout", workout_copy_path(params[:id]) %>
  <%= link_to "delete this workout", workout_path(params[:id]), method: :delete %>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <tr>
        <th class="col-md-3 col-xs-3">Name</th>
        <th class="col-md-1 col-xs-1 text-center">Reps</th>
        <th class="col-md-5 col-xs-5">Notes</th>
        <th class="col-md-1 col-xs-1 text-center">destroy</th>
      </tr>

      <% @exercises.each do |exercise| %>
        <tr>
          <td><%= exercise.name %></td>
          <td class="text-center"><%= exercise.reps %><br></td>
          <td><%= exercise.note%><br></td>
          <td class="col-xs-1 text-center"><%= link_to "delete", workout_exercise_path(@workout, exercise), method: :delete,
            data: { confirm: "You sure?" } %></td>
        <% end %>
        <%= form_for(@exercise, :url => workout_exercises_path(@workout), html: {class: 'form-horizontal'}) do |f| %>
          <div class="table-responsive">
            <tr>
              <td>
                <%= f.text_field :name, as: :text, class: "form-control", rows: 1, placeholder: "Name" %>
              </td>
              <td>
                <%= f.number_field :reps, as: :integer, class: "form-control", rows: 1, :collection => 1..12, placeholder: "Reps" %>
              </td>
              <td>
                <%= f.text_field :note, as: :text, class: "form-control", rows: 1, placeholder: "Notes" %>
                <td>
                  <div class="actions form-group center-block">
                    <div class="col-sm-offset-2 col-sm-10 center-block">
                      <%= f.submit %>
                    </div>
                  </div>
                </td>
              </td>
            </tr>
        </tr>
      <% end %>
    </table>
          </div>
  </div>
