<div class="col-xs-10 col-md-4 centerizer booyah-box">
<%= simple_form_for @exercise, url: workout_exercise_path(@exercise) do |lift| %>
  <b>Log Lift</b><br>
  <%= lift.input :reps %>
  <%= lift.input :weight %>
  <%= lift.input :note %>
  <%= lift.submit 'Update', class: 'btn btn-primary' %>
<% end %>
</div>
